html {
    font-size: 62.5%;
}

body {
    background-color: #71a9d7;
}

/* モジュール */
/* ============================================ */
.contents-title {
    font-size: 2.2rem;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    white-space: normal;
    text-align: center;
    color: #000000;
    font-weight: 600;
    color: #5d627b;
    background: white;
    border-top: solid 5px #31354a;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    max-width: 1200px;
}

.el_btn {
    display: inline-block;
    width: 70%;
    max-width: 100%;
    padding: 20px 10px;
    border: 2px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    transition: .25s;
    cursor: pointer;
}


/* header */
/* ============================================ */

.ly_header {
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
}

.ly_header_inner {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bl_headerUtils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.bl_headerUtils_logo {
    width: 150px;
}

.bl_headerUtils .el_btn {
    width: auto;
    padding: 10px 20px;
    box-shadow: none;
    color: #ffffff;
}

.bl_headerNav {
    display: flex;
    justify-content: space-around;
}

.bl_headerNav_item {
    flex-grow: 1;
    text-align: center;
}

.bl_headerNav_item:last-child .bl_headerNav_link::after {
    content: none;
}

.bl_headerNav_link {
    position: relative;
    display: block;
    padding: 15px 5px;
    border-bottom: 4px solid transparent;
    color: #ffffff;
    text-decoration: none;
    transition: .25s;
    font-size: 1.6rem;
}

.bl_headerNav_link:focus,
.bl_headerNav_link:hover {
    border-bottom-color: #e25c00;
}

.bl_headerNav_link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #ddd;
    transform: translateY(-50%);
}

/* footer */
/* ============================================ */
.ly_footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222;
  }
  
  .hp_btGray {
    border-top: 1px solid #777 !important;
  }
  
  .ly_footer_inner {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .el_footerCopyright {
    display: block;
    color: #ddd;
    font-size: 12px;
    text-align: center;
  }


/* コンテンツ */
/* ============================================ */
main {}

h1 {
    padding: 10px;
    margin: 0 auto;
    color: #fff;
    /* 1.8rem最小値、2.8rem最大値 */
    font-size: clamp(1.8rem, 2vw, 2.8rem);
}

/* コンテンツ */
/* ============================================ */

.form {
    padding: 30px;
    position: relative;
    z-index: 1000;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.form_input_block {
    text-align: center;
    margin-bottom: 40px;
}

.form_input_title,
.form_confirm_title {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 8px 14px 0;
    display: inline-block;
    color: #fff;
    text-shadow:
        1px 3px #000, 1px -3px #000,
        -1px 3px #000, -1px -3px #000,
        2px 2px #000, 2px -2px #000,
        -2px 2px #000, -2px -2px #000,
        3px 1px #000, 3px -1px #000,
        -3px 1px #000, -3px -1px #000;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="datetime-local"],
input[type="password"],
input[list="browsers"],
input[type="search"],
select,
textarea {
    background: rgba(255, 255, 255, .5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    width: 80%;
    height: 5rem;
    display: block;
}

.form_input_value {
    display: block;
    margin: 0 auto;
}

.form_input_value:focus {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.form_input_link {
    font-size: 1.4rem;
    margin-bottom: 20px;
    padding-bottom: 5px;
    color: #333;
    text-decoration: underline;
}

.form_input_link:active,
.form_input_link:hover {
    font-weight: 700;
    text-decoration: none;
}

input[type="search"] {
    width: 20%;
    margin: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 30px;
    height: 20px;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px rgb(118, 85, 101);
}

.form_input_label {
    margin: 8px 6px 12px 0;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.form_input_label:first-of-type {
    margin-top: 4px;
}

.form_input_label:last-of-type {
    margin-bottom: 14px;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
}

/* 20文字以上の場合、背景が#ffd3d3（薄い赤 */
textarea:invalid {
    background: #7b6969;
    border: 2px solid #ff0000;
}

.el_btn_submit {
    background-color: #5250e0;
    margin-bottom: 24px;
}

.el_btn_top {
    background-color: #ca4d4d;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.el_btn_back {
    background-color: #ca4d4d;
}

.el_btn_search {
    background-color: #686464;
    width: 5%;
    font-size: 1rem;
}

/* disabled属性がない場合にホバー効果を適用する（JSでdisableを切り替え） */
input[type="submit"]:not([disabled]):focus,
input[type="submit"]:not([disabled]):hover,
.el_btn_back:focus,
.el_btn_back:hover {
    opacity: 0.8;
    transform: scale(1.1);
    box-shadow: 0 0 rgba(0, 0, 0, .3);
    color: rgb(178, 189, 207);
}

.adminName {
    font-size: 1.4rem;
}

.form_input_error_message,
.form_input_dberror_message,
.form_input_textarea_message,
.form_input_caution,
.form_input_any,
.form_input_need {
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow:
        1px 1px #fff, 1px -1px #fff,
        -1px 1px #fff, -1px -1px #fff,
        1px 1px #fff, 1px -1px #fff,
        -1px 1px #fff, -1px -1px #fff,
        1px 1px #fff, 1px -1px #fff,
        -1px 1px #fff, -1px -1px #fff;
    margin: 0;
    color: #DD0000;
}

.radio_error_message {
    margin-bottom: 14px;
}

.form_input_dberror_message {
    margin-bottom: 20px;
}

.privacy-policy {
    color: #555;
    font-size: 1.4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
    height: 200px;
    overflow-y: scroll;
    padding: 6px 12px;
}


.form_input_textarea_message {
    color: #f4a004;
}

.form_input_caution {
    color: #0d3657;
}

.form_input_need {
    color: #DD0000;
    display: inline;
    font-weight: bold;
}

.form_input_any {
    color: #095695;
}

/* form_confirm.php */
/* ============================================ */

.form_confirm_block {
    border-bottom: 1px solid #42557b;
    padding: 10px 30px;
}

.form_confirm_value {
    color: #fff;
    font-size: 1.6rem;
}

.form_confirm_btn_block {
    display: flex;
    justify-content: space-around;
}

.form_search_btn_block {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    align-items: center;
    margin: 10px 0;
}

legend {
    display: inline;
    color: red;
}


/* テーブル */
/* ============================================ */
.table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 50px;
}

.table thead tr {
    height: 60px;
}

.table thead th {
    background: rgb(49, 75, 126);
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(235, 229, 229);
    text-align: center;
    padding: 15px 10px 0;
}

.table thead th:nth-child(1) {
    /* width: 8%; */
}

.table thead th:nth-child(6) {
    /* width: 32%; */
}

.table tbody td {
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    height: 20px;
    line-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tbody {
    background: #E5E2E4;
}

.table tbody:nth-child(even) {
    background: #FBFBF6;
}

/* thanks.php.php */
/* ============================================ */
.thanks_message {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    margin: 60px 0;
}

/* レスポンス */
/* ============================================ */

@media screen and (max-width: 768px) {

    header {
        position: relative;
    }

    header h1 {
        /* position: absolute; */
        /* left:80px; */
        z-index: 9999;
        font-size: 30px;
        text-align: center;
        margin: 0 auto;
    }


    /*contact*/
    #contact .page-title {
        margin-top: 40px;
    }

    /*フォーム*/
    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }

    body {
        /* background-color: #71a9d7; */
    }

}
